<div class="cardmt-2">
<div class="card-header bg-info">
<h4>Liste des comptes</h4>
</div>
<div class="card-body">
<table class="table table-borded table-striped">
 <thead>
   <tr>

      <th>numero</th>
        <th>proprietaire</th>
         <th>solde</th>
    </tr>
 </thead>

  <tbody>

<tr *ngFor="let c of data">
<td scope="row">{{c.numero}}</td>
<td >{{c.proprietaire}}</td>
<td >{{c.solde}}</td>

<td class="text-center">
<button type="button" class="btn btn-sm btn-info">Details</button>
<button type="button" class="btn btn-sm btn-secondary">Edit</button>
<button type="button" class="btn btn-sm btn-l1">Delete</button>


</td>


</tr>

  </tbody>
</table>

</div>


</div>

